# 忽略 Node.js 相关文件和目录
/node_modules/*
/dist/*
/build/*
/coverage/*

# 忽略常见临时文件和日志文件
.DS_Store
Thumbs.db
*.log
*.tmp
*.swp
*.bak
*.map

# 忽略 IDE 和编辑器相关文件
.idea/
.webstorm/
.metadata/
.settings/
.project
.classpath
.nbproject/
.sublime-project
.sublime-workspace
.atom/
*.iml
*.ipr
*.iws

# 忽略其他包管理器的锁文件
yarn.lock
npm-shrinkwrap.json
package-lock.json
